<!doctype html>

<!--[if IE 8]> <html class="ie8 desktop" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="desktop no-js" lang="es"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:description" content="Prototipo de descripcion" />
  <meta property="fb:app_id" content="test" />
  <meta property="og:image" content="{{ article.image }}" />
  <meta property="og:site_name" content="Valonde" />
  <meta property="og:title" content="{{ article.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.valonde.com/" />
  <meta name="description" content="Prototipo de descripcion" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="http://www.valonde.com/" />
  <meta name="twitter:title" content="{{ article.name }}" />
  <meta name="twitter:description" content="Halo 5: Guardians has more weights around its neck than really seems fair.Many Halo fans still feel like the series' adoptive parents at 343 Industries have things to prove, that the developer has..." />
  <meta name="twitter:image:src" content="{{ article.image }}" />
  <meta name="twitter:site" content="valonde" />
  <meta name="twitter:creator" content="sakyastelios" />
  <link rel="canonical" href="http://www.polygon.com/2015/10/26/9553081/halo-5-guardians-review-xbox-one" />
  <link rel="shortcut icon" href="https://cdn2.vox-cdn.com/community_logos/42931/favicon.ico" />

  <link rel="apple-touch-icon" href="/images/polygon/apple-touch-icon.png" />
  <link href="https://cdn0.vox-cdn.com/uploads/hub/sbnu_logo_minimal/405/touch_icon_ipad_retina_1000x1000.7014.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/>
  <link href="https://cdn0.vox-cdn.com/uploads/hub/sbnu_logo_minimal/405/touch_icon_iphone_retina_1000x1000.7014.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/>
  <link href="https://cdn0.vox-cdn.com/uploads/hub/sbnu_logo_minimal/405/touch_icon_ipad_retina_1000x1000.7014.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/>
  <link href="https://cdn0.vox-cdn.com/uploads/hub/sbnu_logo_minimal/405/touch_icon_iphone_retina_1000x1000.7014.png" rel="apple-touch-icon-precomposed" type="image/png"/>

  <title>{{ article.name }} | Valonde</title>
  <link rel="alternate" type="application/rss+xml" title="Valonde" href="/rss/index.xml" />

  <link rel="stylesheet" href="https://cloud.typography.com/706184/753582/css/fonts.css" type="text/css" />

  <!--[if (gte IE 10)|(IEMobile)|(!IE)]><!-->
  <link rel="stylesheet" href="{{ asset('css/article-wiki.min.css') }}" />
  <!--<![endif]-->
  <meta property="article:published_time" content="2015-10-26T07:01:02Z" />
  <meta name="author" content="Giancarlo Ventura" />
</head>

<body class="polygon theme-default review template_review" data-entry-type="review">
  <div id="body-wrapper" class="l-inner-wrap">
    <div id="fb-root"></div>
    <div class="m-site-nav  ">
      <nav class="m-site-nav__polybar sticky_nav" id="polybar">
        <div class="m-site-nav__wrapper super">
          <div class="m-site-nav__item nav-toggle">
            <a href="#" id="mobile-nav-toggle" class="m-site-nav__mobile-slideout-button">Menu</a>
          </div>
          <div id="nav_logo" class="m-site-nav__item logo">
              <a href="/" class="m-site-nav__logo-link">Valonde</a>
          </div>
          <ul class="m-site-nav__list">
            <li class="m-site-nav__item lazy" id="pane-news" data-pane="news">
              <a class="m-site-nav__primary-link" href="/news">News</a>
              <div class="m-site-nav__shelf news">
                <div class="m-site-nav__sub-menu news">
                  <ul class="m-site-nav__group-selector">
                    <li class="group sub-report" data-slug="report">
                      <a href="/report">Reports</a>
                    </li>
                    <li class="group sub-culture" data-slug="culture">
                      <a href="/culture">Culture</a>
                    </li>
                    <li class="group sub-news active" data-slug="news">
                      <a href="/news">Recent</a>
                    </li>
                    <li class="group sub-minimap" data-slug="minimap">
                      <a href="/minimap">Minimap</a>
                    </li>
                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/news">All News</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item lazy" id="pane-reviews" data-pane="reviews">
              <a class="m-site-nav__primary-link" href="/games/reviewed">Reviews</a>
              <div class="m-site-nav__shelf reviews">
                <div class="m-site-nav__sub-menu reviews">
                  <ul class="m-site-nav__group-selector">
                    <li class="group sub-recent active" data-slug="recent">
                      <a href="/games/reviewed">Recent</a>
                    </li>
                    <li class="group sub-nintendo" data-slug="nintendo">
                      <a href="/games/nintendo/reviewed">Nintendo</a>
                    </li>
                    <li class="group sub-playstation" data-slug="playstation">
                      <a href="/games/playstation/reviewed">Playstation</a>
                    </li>
                    <li class="group sub-xbox" data-slug="xbox">
                      <a href="/games/xbox/reviewed">Xbox</a>
                    </li>
                    <li class="group sub-mobile" data-slug="mobile">
                      <a href="/games/mobile/reviewed">Mobile</a>
                    </li>
                    <li class="group sub-pc" data-slug="pc">
                      <a href="/games/pc/reviewed">PC</a>
                    </li>
                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/games/reviewed">All Reviews</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item lazy" id="pane-features" data-pane="features">
              <a class="m-site-nav__primary-link" href="/features">Features</a>
              <div class="m-site-nav__shelf features">
                <div class="m-site-nav__sub-menu features">
                  <ul class="m-site-nav__group-selector">
                    <li class="group sub-this-week active" data-slug="this-week">
                      <a href="/features">This Week</a>
                    </li>
                    <li class="group sub-last-week" data-slug="last-week">
                      <a href="/features">Last Week</a>
                    </li>
                    <li class="group sub-human-angle" data-slug="human-angle">
                      <a href="/human-angle">Human Angle</a>
                    </li>

                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/features">All Features</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item video lazy" id="pane-videos" data-pane="videos">
              <a class="m-site-nav__primary-link" href="/videos">Videos</a>
              <div class="m-site-nav__shelf videos">
                <div class="m-site-nav__sub-menu videos">
                  <ul class="m-site-nav__group-selector">

                    <li class="group sub-recent active" data-slug="recent">
                      <a href="/videos">Recent</a>
                    </li>
                    <li class="group sub-overview" data-slug="overview">
                      <a href="/overview">Overview</a>
                    </li>
                    <li class="group sub-human-angle" data-slug="human-angle">
                      <a href="/human-angle">Human Angle</a>
                    </li>
                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/videos">All Videos</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item lazy" id="pane-forums" data-pane="forums">
              <a class="m-site-nav__primary-link" href="/forums">Forums</a>
              <div class="m-site-nav__shelf forums">
                <div class="m-site-nav__sub-menu forums">
                  <ul class="m-site-nav__group-selector">
                    <li class="group sub-recent active" data-slug="recent">
                      <a href="/forums">Recent</a>
                    </li>
                    <li class="group sub-polynauts" data-slug="polynauts">
                      <a href="/forums/polynauts">Polynauts</a>
                    </li>
                    <li class="group sub-off-topic" data-slug="off-topic">
                      <a href="/forums/off-topic">Off-Topic</a>
                    </li>
                    <li class="group sub-ps4" data-slug="ps4">
                      <a href="/forums/ps4">Playstation 4</a>
                    </li>
                    <li class="group sub-xb1" data-slug="xb1">
                      <a href="/forums/xbox-one">Xbox One</a>
                    </li>
                    <li class="group sub-wiiu" data-slug="wiiu">
                      <a href="/forums/wii-u">Wii U</a>
                    </li>
                    <li class="group sub-meta" data-slug="meta">
                      <a href="/forums/meta">Meta</a>
                    </li>
                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/forums">All Forums</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item lazy" id="pane-opinion" data-pane="opinion">
              <a class="m-site-nav__primary-link" href="/opinion">Opinion</a>
              <div class="m-site-nav__shelf news">
                <div class="m-site-nav__sub-menu opinion">
                  <ul class="m-site-nav__group-selector">
                    <li class="group sub-opinion active" data-slug="opinion">
                      <a href="/opinion">Opinion</a>
                    </li>
                    <li class="group sub-quality-control" data-slug="quality-control">
                      <a href="/quality-control">Quality Control</a>
                    </li>
                    <li class="m-site-nav__group-selector-more-link">
                      <a href="/opinion">All Opinion</a>
                    </li>
                  </ul>
                  <div class="m-site-nav__shelf-container"></div>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item platforms">
              <a class="m-site-nav__primary-link" href="/games">Platforms</a>
              <div class="m-site-nav__shelf platforms">
                <div class="m-site-nav__sub-menu platforms">
                  <ul class="m-site-nav__shelf-entries platforms">
                    <li class="m-site-nav__entry platforms">
                      <ul class="m-site-nav__platform-list">
                        <li class="m-site-nav__platform-group"><a href="/nintendo">Nintendo</a></li>
                        <li class="m-site-nav__platform"><a href="/wii-u">Wii U</a></li>
                        <li class="m-site-nav__platform"><a href="/wii">Wii</a></li>
                        <li class="m-site-nav__platform"><a href="/3ds">3DS</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry platforms">
                      <ul class="m-site-nav__platform-list">
                        <li class="m-site-nav__platform-group"><a href="/playstation">Playstation</a></li>
                        <li class="m-site-nav__platform"><a href="/ps4">Playstation 4</a></li>
                        <li class="m-site-nav__platform"><a href="/ps3">Playstation 3</a></li>
                        <li class="m-site-nav__platform"><a href="/vita">Playstation Vita</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry platforms">
                      <ul class="m-site-nav__platform-list">
                        <li class="m-site-nav__platform-group"><a href="/xbox">Xbox</a></li>
                        <li class="m-site-nav__platform"><a href="/xbox-one">Xbox One</a></li>
                        <li class="m-site-nav__platform"><a href="/xbox-360">Xbox 360</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry platforms">
                      <ul class="m-site-nav__platform-list">
                        <li class="m-site-nav__platform-group"><a href="/mobile">Mobile</a></li>
                        <li class="m-site-nav__platform"><a href="/ios">iOS</a></li>
                        <li class="m-site-nav__platform"><a href="/android">Android</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry platforms">
                      <ul class="m-site-nav__platform-list">
                        <li class="m-site-nav__platform-group"><a href="/pc">PC</a></li>
                        <li class="m-site-nav__platform"><a href="/windows">Windows</a></li>
                        <li class="m-site-nav__platform"><a href="/mac">Mac</a></li>
                        <li class="m-site-nav__platform"><a href="/linux">Linux</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="m-site-nav__item more">
              <a class="m-site-nav__primary-link" href="#">More</a>
              <div class="m-site-nav__shelf more">
                <div class="m-site-nav__sub-menu more">
                  <ul class="m-site-nav__shelf-entries more">
                    <li class="m-site-nav__entry more platforms">
                      <ul class="m-site-nav__more-list">
                        <li class="m-site-nav__more-header">Platforms</li>
                        <li class="m-site-nav__more-item"><a href="/nintendo">Nintendo</a></li>
                        <li class="m-site-nav__more-item"><a href="/playstation">Playstation</a></li>
                        <li class="m-site-nav__more-item"><a href="/xbox">Xbox</a></li>
                        <li class="m-site-nav__more-item"><a href="/mobile">Mobile</a></li>
                        <li class="m-site-nav__more-item"><a href="/pc">PC</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry more rss">
                      <ul class="m-site-nav__more-list">
                        <li class="m-site-nav__more-header">RSS Feeds</li>
                        <li class="m-site-nav__more-item"><a href="/rss/index.xml">All</a></li>
                        <li class="m-site-nav__more-item"><a href="/rss/group/news/index.xml">News</a></li>
                        <li class="m-site-nav__more-item"><a href="/rss/group/reviews/index.xml">Reviews</a></li>
                        <li class="m-site-nav__more-item"><a href="/rss/group/features/index.xml">Features</a></li>
                      </ul>
                    </li>
                    <li class="m-site-nav__entry more">
                      <ul class="m-site-nav__more-list">
                        <li class="m-site-nav__more-item"><a href="/pages/about">Who We Are</a></li>
                        <li class="m-site-nav__more-item"><a href="http://jobs.voxmedia.com">Jobs</a></li>
                        <li class="m-site-nav__more-item"><a href='/pages/write-a-feature-article-for-polygon'>Pitch a Story</a></li>
                        <li class="m-site-nav__more-item"><a href="/pages/contact">Tip Us</a></li>
                        <li class="m-site-nav__more-item"><a href="/pages/contact">Contact Us</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            </ul>
            <div class="m-site-nav__search-container no-touch" id="nav_search">
              <form action="/search" method="get" id="live_search_form" class="m-site-nav__search-form">
                <input name="q" id="nav_search_input" class="m-site-nav__search-input  mousetrap" type="text" placeholder="Search Games & Reviews" autocomplete="off" />
                <input id="nav_search_submit" type="submit" value="search" class="m-site-nav__search-submit submit" />
                <div id="nav_search_loader" class="m-site-nav__search-loader loader"></div>
                <a href="#" id="close_search_results_btn" class="search_results_close">Close</a>
              </form>
              <div id="nav_search_results" class="m-site-nav__search-results results">
              </div>
            </div>

            <div class="m-site-nav__user-container no-touch">
      <a href="http://www.polygon.com/login?return_to=http%3A%2F%2Fwww.polygon.com%2F2015%2F10%2F26%2F9553081%2Fhalo-5-guardians-review-xbox-one" class="m-site-nav__login-button" data-chorus-auth="login">Login</a>
    </div>


      </ul>
      <ul class="m-site-nav__left-side">
        <li class="m-site-nav__left-side__item">
          <a class="m-site-nav__left-side__link" href="/news">News</a>
          <ul class="m-site-nav__left-side__sub-list">
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/report'>Reports</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/culture'>Culture</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/news'>News</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/minimap'>Minimap</a>
            </li>
          </ul>
        </li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/forums">Forums</a></li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/games/reviewed">Reviews</a></li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/opinion">Opinion</a></li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/features">Features</a></li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/videos">Videos</a>
        <ul class="m-site-nav__left-side__sub-list">
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/videos'>All Videos</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/overview'>Overview</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/human-angle'>Human Angle</a>
            </li>
          </ul></li>
        <li class="m-site-nav__left-side__item"><a class="m-site-nav__left-side__link" href="/">More</a>
          <ul class="m-site-nav__left-side__sub-list">
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/pages/about'>Who We Are</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='http://jobs.voxmedia.com'>Jobs</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/pages/write-a-feature-article-for-polygon'>Pitch a Story</a>
            </li>
            <li class="m-site-nav__left-side__sub-list-item">
              <a class="m-site-nav__left-side__sub-list-link" href='/pages/contact'>Contact Us</a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
  </nav>
  <div class="m-user-msg__root">
  </div>
</div>

  <div id="polybar_spacer"></div>

  <div id="nav_leaderboard"></div>

  {% if article.image != null %}
    <div id="feature_cover" class="m-feature__cover cover vox-lazy-load" data-original="{{ article.image }}"></div>
  {% endif %}

  {% if article.image == null %}
    <div id="feature_cover" class="m-feature__cover cover vox-lazy-load" data-original=""></div>
  {% endif %}

<div class="super">
  <div class="content m-review">
    <style type="text/css">
 html{line-height:1.4em;font-family:'Mercury SSm A', 'Mercury SSm B';font-weight:400;font-style:normal;font-size:inherit}body{background-color:#e7e7e2;-webkit-animation-delay:0.1s;-webkit-animation-name:fontfix;-webkit-animation-duration:0.1s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:linear}@-webkit-keyframes fontfix{from{opacity:1}to{opacity:1}}h1,h2,h3,h4,h5,h6{font-family:"Gotham SSm A","Gotham SSm B",Arial,sans-serif}a{text-decoration:none;color:#ff0052}a:hover{color:#8e2b88}.no-margin-child:first-child,p:first-child{margin-top:0}.no-margin-child:last-child,p:last-child{margin-bottom:0}p{margin:15px 0;font-size:15px;line-height:1.6}ul{list-style:none}textarea,input{outline:none}input{border-radius:0}*{-webkit-font-smoothing:antialiased}*,a:link,a:active,a:hover,a:focus{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}img{max-width:100%}.-font-gotham{font-family:"Gotham SSm A","Gotham SSm B",Arial,sans-serif}.-font-mercury{font-family:"Mercury SSm A","Mercury SSm B",Georgia,serif}.is-hidden{display:none}.-background-cover{background-size:cover}.clearfix{zoom:1}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.hidden{display:block !important;visibility:hidden !important;height:0 !important}.polygon-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.7;display:none;z-index:214645}body.chorus-modal-loading .m-chorus-modal__wrapper:after{background-image:url("/images/polygon/loader.gif")}.large,.large p,.large div p{font-size:1.05em !important;color:#444}.polygon.review .super .content article .wrapup blockquote{font-weight:bold !important;font-size:2em !important}

</style>

<article id="entry-top">
  <div class="float_wrapper">
    
    <header>
  <div class="header-container">
    
    <h1 data-remote-headline-edit="title" data-remote-admin-entry-id="9317122">{{ article.name }}</h1>
      <p class="byline">
        By <em><a href="http://www.polygon.com/users/aegies">Giancarlo Ventura</a></em>
          <span class="timestamp">on October 26, 2015
            at 3:01am
          </span>
        <span class="m-entry-admin-button " data-remote-admin-entry-type="button" data-remote-admin-entry-id="9317122"></span>

      </p>

  </div>
</header>
      <div class="m-share-buttons">
  <div class="m-share-buttons__inner-wrapper">

    <div class="p-button social facebook">
      <a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fwww.polygon.com%2F2015%2F10%2F26%2F9553081%2Fhalo-5-guardians-review-xbox-one" data-analytics-social="facebook" data-analytics-placement="top">Share</a>
    </div>

    <div class="p-button social twitter">
      <a data-analytics-social="twitter" data-analytics-placement="top" href="https://twitter.com/intent/tweet?text=Halo%205%3A%20Guardians%20review&via=Polygon&url=http%3A%2F%2Fwww.polygon.com%2F2015%2F10%2F26%2F9553081%2Fhalo-5-guardians-review-xbox-one">Tweet</a>
    </div>
  </div>
</div>

    
<section class="body m-review__body" id="review-body">
      <div class="review_table">
        <div class="pane">
            <table>
              <tbody>
                <tr class="info_title">
                  <td>
                    Game Info
                  </td>
                </tr>
                <tr class="box_art">
                  <td>
                    <span class="game_img" data-original="http://cdn2.sbnation.com/hermano/small/10364/small_halo-5-box-art_720.jpg" style="background-image: url(http://cdn2.sbnation.com/hermano/small/10364/small_halo-5-box-art_720.jpg);"></span>
                  </td>
                </tr>
                <tr class="platform">
                  <td>
                    <small>Platform</small>
                    <strong>Xbox One</strong>
                  </td>
                </tr>
                <tr class="publisher">
                  <td>
                    <small>Publisher</small>
                    <strong>Microsoft Studios</strong>
                  </td>
                </tr>
                <tr class="developer">
                  <td>
                    <small>Developer</small>
                    <strong>343 Industries</strong>
                  </td>
                </tr>
                <tr class="release">
                  <td>
                    <small>Release Date</small>
                    <strong>2015-10-27</strong>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <!--  ########  BEGIN SNIPPET  ########  -->
    <div style="max-width:43em; margin-left:auto; margin-right:Auto;" class="chorus-snippet single_column large">
      <p class="m-entry__intro"><i>Halo 5: Guardians </i>has more weights around its neck than really seems fair.</p>
      <p>{{ article.image }}</p>
      <p>
        {% if article.image == null %}
        sdfsdfsdf
        {% endif %}
      </p>
      <p>Many <i>Halo </i>fans still feel like the series' adoptive parents at 343 Industries have things to prove, that the developer has yet to really demonstrate that it gets Halo. <i>Halo 4</i> was a huge critical and commercial success, but its online community evaporated faster than ever. Microsoft needs a flagship release for its Xbox One console, which, though outselling its predecessor, is seeing a widening gap ahead as the PlayStation 4 sets records.</p>
      <p>But more importantly, after the disastrous online component of <i>The Master Chief Collection</i> last fall, <i>Halo 5</i>'s release sees trust in the franchise at what may be an all-time low.</p>
      <p>343's response to that quagmire: to return to the fundamentals of what made the series great in the first place. The studio has brought Halo's mechanics kicking and screaming into the modern era, while providing the most bombastic, co-op-driven campaign in Halo history.</p>
      <q style="font-size:2em; font-weight:800;"> I was often confused by the game's narrative priorities </q>
      <p>As <i>Halo 5</i> opens, you're introduced to two Spartan squads: Blue Team, which is composed of the Master Chief and three surviving Spartan-IIs — Linda, Kelly and Frederic; and Fireteam Osiris, led by former ONI assassin Jameson Locke (if you played last year's <i>Halo 2 Anniversary</i>, you'll recognize Locke from the new Blur-produced bookend cutscenes) along with former ODST Edward Buck and new characters Olympia Vale and Holly Tanaka. As Osiris is dispatched on a secret mission to rescue Dr. Halsey, the creator of the Spartan program, Blue Team is assigned to secure a derelict research vessel in danger of being discovered by the Covenant.</p>
      <p>From there the Chief defies orders and sets off to investigate a mysterious message from a familiar voice, and Locke and Osiris are ordered to bring him in by whatever means necessary. <i>Halo 5</i>'s story is less scattered and confused than <i>Halo 4</i>'s, and 343 has wisely ditched hiding important backstory in terminals scattered throughout the game. But I was often confused by the game's narrative priorities.</p>
    </div>
<!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
    <div class="chorus-snippet image_overlay quote_only quote_right">
      <div class="big_image"><div class="video-wrap p-scalable-video"><div data-chorus-video-id="78318" class="chorus-video-embed" id="chorus-video-78318" data-analytics-placement="entry:middle"></div></div></div>
    </div>
    <!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
    <div style="max-width:52em; margin-left:auto; margin-right:auto;" class="chorus-snippet single_column large">
            <!--  ########  BEGIN SNIPPET  ########  -->
            <div style="background-color:transparent; font-size:0.8em; font-family: 'Arial', san-serif; padding-left:3em; color:#00477b!important;" class="chorus-snippet feature_sidebar left">
            <h3>No splits allowed</h3>
            <p style="color:#00477b">While it didn't affect our reviewer's assessment of the game, it's worth noting that for the first time in the series' history, <i>Halo 5</i> does not currently support split-screen play. It's 2015 and online multiplayer is where everything is going, obviously, but it does hurt a bit to lose something that a small but vocal group loved about the series.</p>
            </div>
            <!--  ########  END SNIPPET  ########  -->
            <p>Avoiding spoilers here, there are certain suspicions and potential plot developments that <i>Halo 5</i> presents and teases without developing for far too long, instead going off on tangents that don't feel vital to the Blue Team vs. Osiris conceit. The game gives you all the information you need to understand what's happening, and in that regard, it's a step forward. But by the time <i>Halo 5</i> gets where you know it's going, a destination the series has been somewhat telegraphing since 2004, the game is two-thirds over. At that point, I wondered how 343 could possibly present a story with any sense of resolution.</p>
            <p>The short answer? It doesn't. Big, universe-changing things happen in <i>Halo 5</i>, but once it hits its peak, it's over. I imagine the reaction to <i>Halo 5</i>'s conclusion will be just as divisive as it was for <i>Halo 2</i>'s Arbiter-centric catharsis. And when the end does come, it's hard not to look at the time spent on things like the Sangheili civil war and wonder if that time couldn't have been&nbsp;spent&nbsp;better.</p>
            <!--  ########  BEGIN SNIPPET  ########  -->
            <div style="background-color:transparent; font-size:0.8em; font-family: 'Arial', san-serif; padding-right:5em; color:#2c5800;" class="chorus-snippet feature_sidebar right">
            <h3>What could have been</h3>
            <p style="color:#2c5800"><i>Halo 5</i> is a linear game, structurally identical to every Halo game that isn't <i>ODST</i>. However, bizarrely, there are several levels in <i>Halo 5</i> that gesture in the direction of something more open that never comes to fruition. In these levels, there is no shooting, and instead, you walk up to characters and talk to them, occasionally in an investigative capacity. These feel like nothing so much as mission hubs for something bigger and much more ambitious in design than <i>Halo 5</i> is, and it's hard not to wonder what they suggest about what the game may have been on paper at some point.</p>
            </div>
            <!--  ########  END SNIPPET  ########  -->
            <p>The story doesn't fail on <i>every</i> front.&nbsp;While Blue Team is criminally underdeveloped, with little work done to explain why the Master Chief's squadmates are willing to go AWOL with him, Fireteam Osiris is a different story. Vale and Tanaka in particular are both interesting characters with lots of great dialogue and backstory told through in-game conversations. Meanwhile, Nathan Fillion's Buck is the voice of bravado-mixed-with-self-preservation as well as a frequent bit of human orientation for the team. It's good that Osiris is interesting, given that I'd estimate more of the game is spent with them than not.</p>
            <p>To be superficial for a moment, it also helps that <i>Halo 5</i> is beautiful. There are genuinely spectacular setpiece moments within the campaign that go far beyond the skybox fireworks that have defined previous Halo titles, and the sense of discovery and awe that 343 injected back into the series with <i>Halo 4</i> is in effect. The new generation of console hardware is also used to aggressively push forward on some of the neat visual design sensibilities from the last time around.</p>
            <p>Levels feel much larger than in previous games, taller, with more enemies to shoot and more angles to approach and attack from before, likely in deference to your now-always-present Spartan teammates. The inadvertent traffic jams that would result during co-op sessions in games past from too many players trying to move through too-tight corridors are gone, and every player has something to do all the time.</p>
            <p>This greater consideration toward cooperative mission design does cut the other way, however. There are several boss fight-style encounters that are clearly balanced toward multiple players coordinating on opposite sides of the combat spaces in question.</p>
            <figure class="e-image">
                <span style="'position:relative;'">
                  <img alt="halo 5 review screen 3" class="vox-lazy-load m-chorus-asset__in-entry-body" data-chorus-asset-id="4196819" data-original="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/4196819/H5-Guardians-Campaign-FP-Glassed-Up-Close.0.jpg" data-full-size="https://cdn2.vox-cdn.com/thumbor/u9OGUvdE4E1-l9IH5jnE3bLD2os=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196819/H5-Guardians-Campaign-FP-Glassed-Up-Close.0.jpg" src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/4196819/H5-Guardians-Campaign-FP-Glassed-Up-Close.0.jpg">
                  <noscript>
                    <img alt="halo 5 review screen 3" src="https://cdn2.vox-cdn.com/thumbor/u9OGUvdE4E1-l9IH5jnE3bLD2os=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196819/H5-Guardians-Campaign-FP-Glassed-Up-Close.0.jpg">
            </noscript>    </span>
            </figure>

            <p>That's all fine and good when you've got human friends, but more granular tactical maneuvering with friendly AI is like herding cats. Assigning your team to a vehicle or a weapon by pressing up on the D-pad isn't a problem. But the squad interface feels designed for ease of use and speed, not Patton-like combat strategy. On the bright side, there's now a revive mechanic, and your AI companions can pick you back up after you've been downed.</p>
            <p>Generally speaking, this makes for a&nbsp;<a target="_blank" href="http://www.polygon.com/2015/10/19/9563201/its-very-hard-to-die-in-halo-5-guardians">much more forgiving game</a>, though on Heroic difficulty and higher, you're still likely to die plenty over the course of the nine- to 11-hour campaign. This is, in large part, because friendly AI isn't great — while I'd guess about 70 percent of the time, one of your teammates will get to you when you're down, that still leaves 30 percent of the time where I watched them ignore me, get caught on geometry or get annihilated by enemy fire while undertaking their rescue mission.</p>
            <p>Co-op play is better in <i>Halo 5</i> to be sure, and the production values are a fitting debut for the series on Xbox One — <i>Master Chief Collection</i> notwithstanding — but amid all that, the most important changes are related to more fundamental design decisions.</p>
            <p>Sixty frames per second has been a steady talking point for 343, a drum beaten hard enough to be greeted with some skepticism. But it makes a pronounced difference in how Halo plays in a universally positive way. <i>Halo 5</i> isn't the first Halo game to run at 60 fps — last year's <i>Master Chief Collection</i> boasted a similar performance target for all of its remastered titles. But where <i>MCC</i> often struggled to maintain that target, <i>Halo 5</i> is unwavering.</p>
    </div>
    <!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
        <div style="max-width:52em; margin-left:auto; margin-right:auto;" class="chorus-snippet single_column_big_photo large">
              <div class="big_photo">
                        <figure class="e-image">
                            <span style="'position:relative;'">
                              <img alt="halo 5 review screen 4 tall" class="vox-lazy-load m-chorus-asset__in-entry-body" data-chorus-asset-id="4196871" data-original="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/4196871/H5-Guardians-Campaign-Reunion-Close-Quarters.0.jpg" data-full-size="https://cdn3.vox-cdn.com/thumbor/ClS6q-ySOPFlSgbXnLbSr9vF6fg=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196871/H5-Guardians-Campaign-Reunion-Close-Quarters.0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                              <noscript>
                                <img alt="halo 5 review screen 4 tall" src="https://cdn3.vox-cdn.com/thumbor/ClS6q-ySOPFlSgbXnLbSr9vF6fg=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196871/H5-Guardians-Campaign-Reunion-Close-Quarters.0.jpg">
                        </noscript>    </span>
                        </figure>
              </div>
        <div class="float">
        <p>Movement in <i>MCC</i> felt slippery, a little like skating, but that's nowhere to be found in <i>Halo 5</i>. It's smoother than previous games, but it's also as satisfyingly tactile as the series has ever been.</p>
        <p>343 has made noticeable changes to the way Spartans handle. Some of these changes are subtle; your base move speed is higher than it's ever been, for example, and turning feels different, slightly faster. But every Spartan across every mode can now sprint, as well as grab ledges and pull themselves up. Running Spartans can shoulder-charge with the melee button, hitting enemies (or walls) like a freight train. Holding the melee button down while airborne charges a ground pounding attack that's challenging to land, but extremely satisfying when it does.</p>
        <p>These are natural, long-awaited evolutions for a series that's always felt especially physical. But boosting and aiming may prove more divisive.</p>
        </div>
        </div>
        <!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
        <div style="max-width:52em; margin-left:auto; margin-right:auto;" class="chorus-snippet single_column large">
        <p><i>Halo 5</i> allows zoomed-in aim on every weapon for the first time. Some protective fans have called this a sacrilegious concession to the Call of Duty series and its dominance of the multiplayer market. They may be right about the underlying motive, but 343's implementation of ADS feels appropriate to Halo's heritage. Weapon spread remains identical "from the hip" or aiming down your gunsights.</p>
        <p>343 has also added a wrinkle of its own to the mechanic. Aiming while in the air invokes your Spartan's stabilizers, allowing you to hover for a short time. Meanwhile, taking fire while aiming will snap you out of the zoom. It's a smart interpretation of an industry standard the Halo series has, until now, stubbornly avoided, and this goes for sprinting as well. The game feels improved for these additions, not polluted.</p>
        <p>All of these changes are keenly felt in the campaign, where the game feels very explicitly designed to leverage your new capabilities. But they're likely to make a bigger difference in <i>Halo 5</i>'s competitive multiplayer component, Arena.</p>
        <figure class="e-image">
            <span style="'position:relative;'">
              <img alt="halo 5 review screen 5" class="vox-lazy-load m-chorus-asset__in-entry-body" data-chorus-asset-id="4196883" data-original="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/4196883/H5-Guardians-Arena-FP-Truth-Flare.0.jpg" data-full-size="https://cdn3.vox-cdn.com/thumbor/Sf-DU1o0O3B8XHxdi7RLbQLwIrs=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196883/H5-Guardians-Arena-FP-Truth-Flare.0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <noscript>
                <img alt="halo 5 review screen 5" src="https://cdn3.vox-cdn.com/thumbor/Sf-DU1o0O3B8XHxdi7RLbQLwIrs=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196883/H5-Guardians-Arena-FP-Truth-Flare.0.jpg">
        </noscript>    </span>


        </figure>

        <p>After experiments with ability loadouts in <i>Halo: Reach</i> and weapon loadouts in <i>Halo 4</i>, <i>Halo 5</i> has reset things in favor of something that feels more classically Halo. All players now spawn with the same weapons, the assault rifle and the pistol. These provide a good degree of versatility while focusing players back toward the power weapon tug of war that defined Halo at the peak of its popularity.</p>
        <p>In previous Halos, this emphasis could often lead to lopsided ass-kickings for players who never committed the locations of power weapons — or their spawn timers — to memory. But <i>Halo 5</i>'s weapon locations are always marked, and the game announces their spawn timers at various points. Not only does this allow for greater situational awareness for everyone, it provides a greater chance of standoffs and interesting fights around those weapon spawns.</p>
        <!--  ########  BEGIN SNIPPET  ########  -->
        <div style="min-width:35em; background-color:transparent;" class="chorus-snippet feature_sidebar right"><div class="video-wrap p-scalable-video"><div data-chorus-video-id="78496" class="chorus-video-embed" id="chorus-video-78496" data-analytics-placement="entry:middle"></div></div></div>
        <!--  ########  END SNIPPET  ########  -->
        <p>That streamlining of systems combines with <i>Halo 5</i>'s greatly refined Spartan mobility and controls to create something that I find immensely gratifying. Every Halo fan has their favorite game, multiplayer-wise. I think that this might be mine. The interaction between each component of your toolset feels balanced for the first time in as long as I can remember. Melee options in particular don't feel like afterthoughts this time around, making for a Halo that feels more full-contact than it ever has.</p>
        <p>Balance is the key word here, by the way — not just in the effectiveness of your Spartan's base abilities, but across the entire Arena experience. Your starting weapons will always be useful. I haven't yet seen extremely advantageous sniper nests or good patrol spots in maps. The open spaces and traversal options available to everyone mean you have opportunities and risks to consider everywhere. Some players will obviously dominate, because it's a competitive game. But in my time with <i>Halo 5</i>, I've never felt like I was being punished by design priorities, even when I was receiving a pretty classic Halo ass-kicking.</p>
        <p><i>Halo 5</i>'s philosophy seems to have finally let go of the concept of progression that the series has flirted with since <i>Modern Warfare </i>changed the way shooters approached long-term player engagement in 2007, and it finally feels like the flat playing field that it did at its best. Games like <i>League of Legends</i> and <i>Dota 2</i> have demonstrated that there's a hunger for that even ground in-game, and <i>Halo 5</i> is smart to take that lead and run with it.</p>
        <figure class="e-image">
            <span style="'position:relative;'">
              <img alt="halo 5 review screen 6 requisitions" class="vox-lazy-load m-chorus-asset__in-entry-body" data-chorus-asset-id="4196911" data-original="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/4196911/H5-Guardians-REQ-Collection-Weapons-01.0.jpg" data-full-size="https://cdn1.vox-cdn.com/thumbor/SJAB4DQQ0N6XKCryMs_BKiC5hdk=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196911/H5-Guardians-REQ-Collection-Weapons-01.0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <noscript>
                <img alt="halo 5 review screen 6 requisitions" src="https://cdn1.vox-cdn.com/thumbor/SJAB4DQQ0N6XKCryMs_BKiC5hdk=/cdn0.vox-cdn.com/uploads/chorus_asset/file/4196911/H5-Guardians-REQ-Collection-Weapons-01.0.jpg">
        </noscript>    </span>


        </figure>

        <p>That's not the only way <i>Halo 5</i> is borrowing from the MOBA field. <i>Halo 5</i>'s new progression system is based around credits, which can be used to buy Requisition Packs, which contain special armor and weapon modifications and skins that are strictly cosmetic in Arena (and 343 has promised that Req packs will never have an effect on gameplay in Arena). That didn't dampen my enthusiasm for them. I want more, and that's probably why all the mechanisms are in place to sell them for real money. You can't buy them as of the time of this writing, but in a build I played in September, the functionality was there.</p>
        <p>However, even when microtransactions make their way into <i>Halo 5</i>, the developer is offering fans a hell of an olive branch, committing to an entirely free multiplayer DLC plan. After the brutal fracturing of <i>Halo 4</i>'s multiplayer community right out of the gate with various tiers of map DLC, it's a welcome change, and one that should hopefully foster a more active community for the game.</p>
        <p>But if Arena feels like a massive, welcome refinement to Halo's balance and core competitive ideals, Warzone is the next evolution of&nbsp;<i>ODST</i>'s Firefight  and <i>Halo 4</i>'s Spartan Ops. As a match of Warzone starts, each team of up to 12 players is dropped into either side of a massive map full of AI-controlled Covenant and Promethean forces. Teams compete for control of three bases; possessing a base contributes points toward victory.</p>
        </div>
<!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
<div class="chorus-snippet image_overlay">
<div class="big_image"><span><div class="video-wrap p-scalable-video"><div data-chorus-video-id="78602" class="chorus-video-embed" id="chorus-video-78602" data-analytics-placement="entry:middle"></div></div></span></div>
</div>
<!--  ########  END SNIPPET  ########  --> <!--  ########  BEGIN SNIPPET  ########  -->
<div class="chorus-snippet centered_column large">
<p>However, killing AI enemies and more powerful "hero" class combatants and mobs also awards points to the team that kills them. As your team gains ground, you'll earn requisition points that can be traded at terminals or on respawning for more powerful equipment, adding a kind of in-match economy and resource management to the mode.</p>
<p>Warzone is the Halo mode I didn't realize I wanted in a Halo game until I had it. It makes so much sense that it's hard for me to imagine Halo without it once I've played it.</p>
<p>If Arena is laser-focused on balance, Warzone is more relaxed. The Req Packs you'll earn also include single-use cards that can be redeemed during Warzone games for specific power weapons and vehicles that are otherwise unavailable, like Scorpions, Wraiths and Phaetons. These still cost in-match points to use, so no one will be able to spam the vehicles and overwhelm the match automatically. But Req Packs are randomized, and it's unclear if the mode will suffer for those who don't have as many cards to burn per match.</p>
</div>
<!--  ########  END SNIPPET  ########  -->

</section>
    
      <section class="m-review__wrapup" id="review-wrapup">
  <h4>Wrap Up:</h4>
  <blockquote>Halo 5 offers some of the best multiplayer the series has ever seen</blockquote>
  <p>
    <p class="large"><em>Halo 5</em> feels like it knows its obligations. The campaign's narrative is likely to prove controversial, though its biggest sin may be its familiarity. Otherwise, <em>Halo 5</em> excels under the pressure, providing one of the most welcoming, competitive, balanced and fun games of the year &mdash; and providing my personal favorite Halo multiplayer since the series began.</p>
<p><em>Halo 5 was reviewed using a "retail" downloadable copy provided by Microsoft and multiplayer sessions played on "live" servers. Note: Due to the pronounced online issues and difficulties experienced by Halo: The Master Chief Collection, this review will remain provisional until such time as Polygon feels confident in assessing the launch state of Halo 5's online component. You can find additional information about Polygon's ethics policy <a href="http://www.polygon.com/pages/ethics-statement" target"_blank">here</a>.</em></p>
  </p>
  <a class="about_reviews_link" href="/pages/about-reviews"> About Polygon's Reviews</a>
</section>

      <section class="m-review__scores updates">
  <h3>Score History</h3>

  <a id="review_update_9513981"></a>
    <div class="review m-review__scores__outercurrent">
      <div class="m-review__scores__inner">
        <div class="m-review__scores--total review_score  score_90"></div>
        <div class="m-review__scores--platforms review_scores">
            <div class="score">
              <strong>9.0</strong> Xbox One
            </div>
        </div>
      </div>

      <div class="m-review__scores__body">
          <strong class="review_update new">NEW!</strong>

        <strong class="review_update">
          <span>Update:</span>
          11/17/2015
        </strong>

        <h3>Halo 5 review update&nbsp;one</h3>

        <p>After last year's severe issues with the <i>Master Chief Collection</i>, all eyes were on Microsoft and 343 with the launch of <i>Halo 5</i>. We've been observing the game since it released in late October for any hint of similar problems, and are happy to report that the situation is very different this time around. Aside from some extremely minor hiccups in matchmaking that appear to have been quickly resolved, <i>Halo 5</i> has been rock solid, and has also seen regular playlist updates and tweaks to address community concerns. As such, we're comfortable removing the provisional tag from our <i>Halo 5</i> review.</p>

      </div>
    </div>
  <a id="review_update_9317122"></a>
    <div class="review m-review__scores__outer">
      <div class="m-review__scores__inner">
        <div class="m-review__scores--total review_score old score_90"></div>
        <div class="m-review__scores--platforms review_scores">
            <div class="score">
              <strong>9.0</strong> Xbox One
            </div>
        </div>
      </div>

      <div class="m-review__scores__body">

        <strong class="review_update">
          <span>Initial Review:</span>
          10/26/2015
        </strong>

        <h3>Halo 5: Guardians&nbsp;review</h3>

        

          <p class="review_update review_back_to_top">
            <a href="#entry-top">Back to top ^</a>
          </p>
      </div>
    </div>
</section>

    
  </div>
</article>

<div class="m-carousel m-carousel--wide m-carousel--tall latest_reviews">
  <h5>Latest Reviews</h5>
  <div class="pane">
    <ul class="m-carousel__list">

      <li class="chorus-optimize" data-chorus-optimize-id="9513981_latest-reviews" data-chorus-optimize-content-uid="9513981" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/17/9749940/halo-5-review-update-one" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn0.vox-cdn.com/thumbor/tfO_zQYa-xnLNoLLByOsQ2utB2A=/629x0:1140x767/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47682383/halo-5-interview-screen-2.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47682383:portrait:8">
            <em class="score no-chorus-optimize">9.0</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/11/17/9749940/halo-5-review-update-one" class="title" data-analytics-link="review">Halo 5 review update one</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/17/9749940/halo-5-review-update-one">Arthur Gies</a>
        </div>

        <a href="http://www.polygon.com/2015/11/17/9749940/halo-5-review-update-one" class="review_score">
            <em class="score score_90 no-chorus-optimize">9.0</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9511597_latest-reviews" data-chorus-optimize-content-uid="9511597" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/16/9747556/star-wars-battlefront-review-xbox-one-playstation-4-PC" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn3.vox-cdn.com/thumbor/TkmGVoBcsva7WGWXatUY5uBp5vw=/600x0:1320x1080/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47679029/battlefront-review-hero.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47679029:portrait:4">
            <em class="score no-chorus-optimize">8.0</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/11/16/9747556/star-wars-battlefront-review-xbox-one-playstation-4-PC" class="title" data-analytics-link="review">Star Wars Battlefront review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/16/9747556/star-wars-battlefront-review-xbox-one-playstation-4-PC">Dave Tach</a>
        </div>

        <a href="http://www.polygon.com/2015/11/16/9747556/star-wars-battlefront-review-xbox-one-playstation-4-PC" class="review_score">
            <em class="score score_80 no-chorus-optimize">8.0</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9489599_latest-reviews" data-chorus-optimize-content-uid="9489599" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/12/9725558/call-of-duty-black-ops-3-review-update-one" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn0.vox-cdn.com/thumbor/YeOPZa_bFH9OAgFufX_m9H_OG0g=/600x0:1320x1080/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47650843/vlcsnap-2015-11-05-14h11m47s094.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47650843:portrait:8">
            <em class="score no-chorus-optimize">7.0</em>
</a>        <div class="meta">
          <a href="http://www.polygon.com/2015/11/12/9725558/call-of-duty-black-ops-3-review-update-one" class="title" data-analytics-link="review">Call of Duty: Black Ops 3 review update one</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/12/9725558/call-of-duty-black-ops-3-review-update-one">Arthur Gies</a>
        </div>

        <a href="http://www.polygon.com/2015/11/12/9725558/call-of-duty-black-ops-3-review-update-one" class="review_score">
            <em class="score score_70 no-chorus-optimize">7.0</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9412865_latest-reviews" data-chorus-optimize-content-uid="9412865" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/9/9648824/fallout-4-review-xbox-one-PS4-PC" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn0.vox-cdn.com/thumbor/LfE82alupX3-kiyK0Nsceq5aYSI=/600x0:1320x1080/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47615413/reviewhero.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47615413:portrait:8">
            <em class="score no-chorus-optimize">9.5</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/11/9/9648824/fallout-4-review-xbox-one-PS4-PC" class="title" data-analytics-link="review">Fallout 4 review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/9/9648824/fallout-4-review-xbox-one-PS4-PC">Arthur Gies</a>
        </div>

        <a href="http://www.polygon.com/2015/11/9/9648824/fallout-4-review-xbox-one-PS4-PC" class="review_score">
            <em class="score score_95 no-chorus-optimize">9.5</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9397899_latest-reviews" data-chorus-optimize-content-uid="9397899" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/9/9633858/rise-of-the-tomb-raider-review-xbox-one-crystal-dynamics-square-enix" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn2.vox-cdn.com/thumbor/dNHAXZZ5xrC0vrrj8Z_ntVMz8VE=/2587x0:6428x5762/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47613191/Lara_Bow_E3_Final.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47613191:portrait:8">
            <em class="score no-chorus-optimize">8.5</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/11/9/9633858/rise-of-the-tomb-raider-review-xbox-one-crystal-dynamics-square-enix" class="title" data-analytics-link="review">Rise of the Tomb Raider review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/9/9633858/rise-of-the-tomb-raider-review-xbox-one-crystal-dynamics-square-enix">Philip Kollar</a>
        </div>

        <a href="http://www.polygon.com/2015/11/9/9633858/rise-of-the-tomb-raider-review-xbox-one-crystal-dynamics-square-enix" class="review_score">
            <em class="score score_85 no-chorus-optimize">8.5</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9435763_latest-reviews" data-chorus-optimize-content-uid="9435763" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/11/4/9671722/yo-kai-watch-review-nintendo-3ds" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn1.vox-cdn.com/thumbor/lI69jq_aTb1cu-KK9XG0uT2g6nc=/744x0:1540x1194/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47585847/yo-kai-watch-artwork_1920.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47585847:portrait:8">
            <em class="score no-chorus-optimize">7.5</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/11/4/9671722/yo-kai-watch-review-nintendo-3ds" class="title" data-analytics-link="review">Yo-kai Watch review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/11/4/9671722/yo-kai-watch-review-nintendo-3ds">Allegra Frank</a>
        </div>

        <a href="http://www.polygon.com/2015/11/4/9671722/yo-kai-watch-review-nintendo-3ds" class="review_score">
            <em class="score score_75 no-chorus-optimize">7.5</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9394823_latest-reviews" data-chorus-optimize-content-uid="9394823" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/10/28/9630782/disney-infinity-3-0-review-update-one" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn2.vox-cdn.com/thumbor/QsfOzL8Kwwu0o0addFHz7RBI9Tw=/1722x0:2958x1854/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47538315/InsideOut_PlaySet_AngerGroup.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47538315:portrait:16">
            <em class="score no-chorus-optimize">8.0</em>
</a>        <div class="meta">
          <a href="http://www.polygon.com/2015/10/28/9630782/disney-infinity-3-0-review-update-one" class="title" data-analytics-link="review">Disney Infinity 3.0 review update one</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/10/28/9630782/disney-infinity-3-0-review-update-one">Arthur Gies</a>
        </div>

        <a href="http://www.polygon.com/2015/10/28/9630782/disney-infinity-3-0-review-update-one" class="review_score">
            <em class="score score_80 no-chorus-optimize">8.0</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9317070_latest-reviews" data-chorus-optimize-content-uid="9317070" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/10/22/9553029/assassins-creed-syndicate-review-xbox-one-ps4-pc" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn1.vox-cdn.com/thumbor/AOvY2pygxy6I__IRlKReIWcmlk8=/888x0:1608x1080/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47490401/syndicate-review-hero.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47490401:portrait:16">
            <em class="score no-chorus-optimize">8.5</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/10/22/9553029/assassins-creed-syndicate-review-xbox-one-ps4-pc" class="title" data-analytics-link="review">Assassin&#39;s Creed Syndicate review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/10/22/9553029/assassins-creed-syndicate-review-xbox-one-ps4-pc">Philip Kollar</a>
        </div>

        <a href="http://www.polygon.com/2015/10/22/9553029/assassins-creed-syndicate-review-xbox-one-ps4-pc" class="review_score">
            <em class="score score_85 no-chorus-optimize">8.5</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9353215_latest-reviews" data-chorus-optimize-content-uid="9353215" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/10/21/9589174/life-is-strange-episode-5-review-polarized" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn2.vox-cdn.com/thumbor/CUsBdUtP4s_wgXT6ttQcN1--3RA=/400x0:880x720/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47488189/life-is-strange-episode-5-screenshot-07_1280.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47488189:portrait:8">
            <em class="score no-chorus-optimize">6.5</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/10/21/9589174/life-is-strange-episode-5-review-polarized" class="title" data-analytics-link="review">Life is Strange: Episode Five - Polarized review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/10/21/9589174/life-is-strange-episode-5-review-polarized">Megan Farokhmanesh</a>
        </div>

        <a href="http://www.polygon.com/2015/10/21/9589174/life-is-strange-episode-5-review-polarized" class="review_score">
            <em class="score score_65 no-chorus-optimize">6.5</em>
        </a>
      </li>

      <li class="chorus-optimize" data-chorus-optimize-id="9340568_latest-reviews" data-chorus-optimize-content-uid="9340568" data-chorus-optimize-module="latest-reviews">
        <a href="http://www.polygon.com/2015/10/20/9576527/guitar-hero-live-review-ps4-xbox-one-wii-u" class="m-carousel__img vox-lazy-load" data-analytics-link="review:image" data-original="https://cdn1.vox-cdn.com/thumbor/Uqo3QAr0TXpFGSWT8J96-WBTdio=/600x0:1320x1080/347x520/cdn0.vox-cdn.com/uploads/chorus_image/image/47474912/guitar-hero-live-review-header_1920.0.0.jpg" data-ratio="0.6666666666666666" data-imgkey="47474912:portrait:8">
            <em class="score no-chorus-optimize">9.0</em>
</a>        <div class="meta">
            <a class="type no-chorus-optimize" href="http://www.polygon.com/reviews">Review</a>
          <a href="http://www.polygon.com/2015/10/20/9576527/guitar-hero-live-review-ps4-xbox-one-wii-u" class="title" data-analytics-link="review">Guitar Hero Live review</a>
          <a class="byline no-chorus-optimize" href="http://www.polygon.com/2015/10/20/9576527/guitar-hero-live-review-ps4-xbox-one-wii-u">Griffin McElroy</a>
        </div>

        <a href="http://www.polygon.com/2015/10/20/9576527/guitar-hero-live-review-ps4-xbox-one-wii-u" class="review_score">
            <em class="score score_90 no-chorus-optimize">9.0</em>
        </a>
      </li>
    </ul>
    <a href="#" class="controls prev"><em>Prev</em></a>
    <a href="#" class="controls next"><em>Next</em></a>
  </div>
</div>


    <div class="l-chunk chunk vox-module m-comments--with-sidebar polygon-comments-with-sidebar">
  <div class="m-comments--with-sidebar__comments">
    <div class="m-comments vox-module">
      <div id="comments" class="comments_wrapper "></div>
    </div>
  </div>
  <div class="m-comments--with-sidebar__sidebar">
      <div class="YAD"></div>

<!-- BEGIN SNIPPET -->
<div class="YAD-738704ff-e27a-399a-bcd3-86b651784b91"></div>

<!-- END SNIPPET -->

    <div class="chaser">
      <div class='chaser'>
  <div class="from_the_forums">
    <div class="from_the_forums_header">
      <h2>Active Discussions</h2>
    </div>
    <div class="from_the_forums_wrapper">
      
    <div class="thread">
      <h3>
        <a href="http://www.polygon.com/forums/off-topic/2015/11/12/9724808/anime-cartoons-comics-plight-vol-3-no-21-yearning-to-plight?utm_source=polygon&utm_medium=recentdiscussions&utm_campaign=hub">
          Anime, Cartoons, Comics! Plight Vol. 3, no. 21: Yearning to Plight!
        </a>
      </h3>
    </div>
    <p class="byline">
      <strong>in <a href="/forums/off-topic">Off-topic</a></strong>
      <em>by <a href="http://www.polygon.com/users/sum_guy">sum_guy</a></em>
    </p>


    <div class="thread">
      <h3>
        <a href="http://www.polygon.com/forums/off-topic/2015/11/25/9797602/polygon-daily-for-november-25-muricas-friday?utm_source=polygon&utm_medium=recentdiscussions&utm_campaign=hub">
          Polygon Daily for November 25: Murica&#39;s Friday!
        </a>
      </h3>
    </div>
    <p class="byline">
      <strong>in <a href="/forums/off-topic">Off-topic</a></strong>
      <em>by <a href="http://www.polygon.com/users/James%20Elliott">James Elliott</a></em>
    </p>


    <div class="thread">
      <h3>
        <a href="http://www.polygon.com/forums/heroes-of-the-storm/2015/11/25/9802600/heroes-of-the-storm-thread-for-lack-of-a-better-title?utm_source=polygon&utm_medium=recentdiscussions&utm_campaign=hub">
          Heroes of the Storm Player Thread (for lack of a better title)
        </a>
      </h3>
    </div>
    <p class="byline">
      <strong>in <a href="/forums/heroes-of-the-storm">Heroes of the Storm</a></strong>
      <em>by <a href="http://www.polygon.com/users/Sean%20Parker">Sean Parker</a></em>
    </p>


    <div class="thread">
      <h3>
        <a href="http://www.polygon.com/forums/polynauts/2015/11/21/9775730/polygon-asks-is-a-multiplayer-only-experience-worth-60?utm_source=polygon&utm_medium=recentdiscussions&utm_campaign=hub">
          Polygon Asks: Is a multiplayer only experience worth $60?
        </a>
      </h3>
    </div>
    <p class="byline">
      <strong>in <a href="/forums/polynauts">Polynauts</a></strong>
      <em>by <a href="http://www.polygon.com/users/James%20Elliott">James Elliott</a></em>
    </p>


    <div class="thread">
      <h3>
        <a href="http://www.polygon.com/forums/destiny/2015/11/24/9791652/polygons-destiny-thread-for-the-week-of-november-24th-independent?utm_source=polygon&utm_medium=recentdiscussions&utm_campaign=hub">
          Polygon&#39;s Destiny thread for the week of November 24th: Independent George is stuffed
        </a>
      </h3>
    </div>
    <p class="byline">
      <strong>in <a href="/forums/destiny">Destiny</a></strong>
      <em>by <a href="http://www.polygon.com/users/graze81">graze81</a></em>
    </p>


    </div>

    <footer class="from_the_forums_footer">
      <p>
        <a href="/forums">View All</a>
      </p>
    </footer>
  </div>
</div>

    </div>
  </div>
</div>
  </div>
</div>


<div class="super">

<footer id="site-footer" class="m-footer ">

<div class="m-footer__meta">
  Polygon &bull;
  <a href="/pages/about">about</a> &bull;
  <a href="http://jobs.voxmedia.com">Jobs</a> &bull;
  <a href="/pages/ethics-statement">Ethics statement</a>  <br />
  <a href="/pages/community-guidelines">Community Guidelines</a> &bull;
  <a href="http://www.voxmedia.com/terms-of-use">Terms of use</a> &bull;
  <a href="http://www.voxmedia.com/privacy-policy">Privacy Policy</a> &bull;
  <a href="/rss/index.xml">RSS</a>


  <p>
    &copy; 2015 <a href="http://www.voxmedia.com/">Vox Media</a> Inc. all rights reserved &bull;
    Designed & Developed <a href="http://product.voxmedia.com/">in house</a>
  </p>
  <p>Partner site of The Verge</p>
  <p>
    <span id="status_io" class="m-footer__bottom__status">
  All Systems Operational
  <a href="http://status.voxmedia.com" target="_blank">Check out our status page for more details.</a>
</span>

  </p>

</div>

<div class="m-footer__mobile-meta">
  <a class="m-footer__mobile-meta__menu" href="#">Top of Page</a>
  <a class="m-footer__mobile-meta__menu" href="/">Home</a>
  <span class="m-footer__copyright">
    &copy; 2015 <a href="http://www.voxmedia.com/">Vox Media</a> Inc. all rights reserved<br>
    Designed <a href="http://product.voxmedia.com/">in house</a>
  </span>
</div>

<a href="http://voxmedia.com/" class="m-footer__vox-logo"></a>

</footer>

</div>

  </div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script>
  var cover_image = $('#feature_cover').data('original');
  console.log(cover_image);
  if(cover_image == ""){
    var h = document.getElementById('feature_cover').clientHeight;
    var w = document.getElementById('feature_cover').clientWidth;
    console.log(h,w)
    var pattern = Trianglify({
        width: w,
        height: h
    });
    var imigi = pattern.png();
    console.log(imigi);
    $('#feature_cover').css('background-image', 'url("' + imigi + '")');
  }else if(cover_image != ""){
    $('#feature_cover').css('background-image', 'url("' + cover_image + '")');
    $('#feature_cover').css('background-size', 'cover');
    $('#feature_cover').css('background-position', 'center');
  }    
</script>
</body>
</html>
